body{
    /* display: flex; */
    /* flex-direction: column; */
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
}
.box{
    display: flex;
     margin: 10px 0;
    padding: 10px;
    border-radius: 5px; 
    /* border: 1px solid #ccc; */
 font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #444; 

}
.gen{
    margin-top: 7px;
    margin-right: 75px;
    padding: 10px;
}
label{
    margin-top: 15px;
    font-size: 20px;
    margin-right: 7px;
}
input[type="text"], input[type="email"], input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #444;
}
input[type="submit"] {
    margin: 20px 0 0;
    padding: 10px;
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #3071a9;
}
/* Styling for the output section */
#output {
    display: none;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
}
h2 {
    margin-top: 0;
}